<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
    .myLi {
    list-style-type: none; /* Убираем маркеры */
   }
   .hhhhhul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

   .square {
    width: 10px;
    height: 40px;
    background: #f447ff;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0%;
    margin-bottom: 0px;
    }

    .myclass{
        padding-left: 0rem;
    }












    </style>
</head>
<body>

<div class="container">
    <div th:insert="parts/navbar :: navbar"></div>

    <div th:if="${MessageException != ''}" class="alert alert-danger" role="alert">
        <span th:utext="${MessageException}"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!--       Пользователи этого списка         -->
                <h6>Пользователи списка: </h6>
                <ol class="list-group list-group-numbered">
                    <th:block th:each="el : ${usersListPermission}">
                        <li class="list-group-item">
                            <span th:utext="${el.name}">..</span>
                            <!--  Удаление пользователя  -->
                            <form action="#"
                                  th:action="@{'/list/' + ${myListFromListService.id} + '/delete_user/' + ${el.id}}"
                                  style="float: right" method="post">
                                <button type="submit" class="btn btn-outline-danger border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-trash"
                                         viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </form>
                        </li>
                    </th:block>
                </ol>
                <br>

                <!--        Добавить пользователя в список        -->
                <form action="#" th:action="@{'/list/add_user/' + ${myListFromListService.id}}"
                      method="post">
                    Добавить пользователя в список: <input type="text" name="name" class="form-control"
                                                           placeholder="Имя пользователя"/><br>
                    <input class="btn btn-success" type="submit" value="Добавить пользователя"/><br>
                </form>
                <br>

                <!--        Изменить название у списка        -->
                <form th:action="@{'/list/update/name/' + ${myListFromListService.id}}"
                      th:object="${myListFromListService}" th:method="PATCH">
                    Название списка: <input type="text" th:field="*{name}" class="form-control"
                                            placeholder="Название товара"/><br>
                    <input class="btn btn-success" type="submit" value="Изменить название"/>
                </form>
                <br>

                <!--       Календарь         -->
                <form action="#" th:action="@{'/list/update/date/' + ${myListFromListService.id}}"
                      th:object="${myListFromListService}" method="post">
                    <p>Выберите дату: <input th:field="*{date_of_purchase}" type="date" name="calendar"
                                             class="form-control"><br>
                        <input class="btn btn-success" type="submit" value="Назначить дату"></p>
                </form>
            </div>
            <div class="col-sm-9">
                <td>

                    <!--       Если в списке нет элементов         -->
                    <span th:if="${myListFromFillingServiceCompletedFalse == 0}">

                    <h2 th:utext="${myListFromListService.name}">..</h2>
                        <!--    Список       -->
                    <div class="page-content page-container">
                        <div class="padding">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <form action="#" th:action="@{'/list/add/' + ${myListFromListService.id}}"
                                          th:object="${myListFilling}" method="post">
                                    <div class="row">
                                        <div class="col-9">
                                            <input type="text" th:field="*{name_product}" class="form-control"
                                                   placeholder="Название товара">
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="form-control btn btn-primary font-weight-bold"
                                            >Добавить товар</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </span>

                    <!--       Не купленные товары-->
                    <span th:if="${myListFromFillingServiceCompletedFalse != 0}">
                    <h2 th:utext="${myListFromFillingServiceCompletedFalse[0].lists.name}">..</h2>
                        <!--    Список       -->
                    <div class="page-content page-container">
                        <div class="padding">
                            <div class="col-md-12">

                                <div class="card-body">
                                        <form action="#" th:action="@{'/list/add/' + ${myListFromListService.id}}"
                                              th:object="${myListFilling}" method="post">
                                            <div class="row">
                                                <div class="col-9">
                                                    <input type="text" th:field="*{name_product}" class="form-control"
                                                           placeholder="Название товара">
                                                </div>
                                                <div class="col">
                                                    <input type="submit"
                                                           class="form-control btn btn-primary font-weight-bold"
                                                           value="Добавить товар">
                                                </div>
                                            </div>
                                        </form>
                                    </div><br>
                                    <ul class="list-group">
                                        <div th:each="el : ${myListFromFillingServiceCompletedFalse}">

                                            <li class="list-group-item myclass">
                                                <!--       Категория-->
                                                <div th:style="@{'float: left; background: ' + ${el.category}}"
                                                     class="square"></div>
                                                <!--       Информация-->
                                                <a th:href="@{'/list/product/info/' + ${el.id}}"
                                                   class="btn btn-outline-primary border-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                         height="16" fill="currentColor"
                                                         class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                    </svg>
                                                </a>
                                                <!--       Комментарии-->
                                                <a th:href="@{'/list/product/comments/' + ${el.id}}"
                                                   class="btn btn-outline-primary border-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-messenger"
                                                         viewBox="0 0 16 16">
                                                        <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
                                                    </svg>
                                                </a>
                                                <!--           Пометели галочкой            -->
                                                <form action="#"
                                                      th:action="@{'/list/' + ${el.lists.id} + '/completed/' + ${el.id}}"
                                                      method="post" style="float: left; ">
                                                    <button class="btn btn-outline-success border-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-check"
                                                             viewBox="0 0 16 16">
                                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                                <!--  Удаление списка  -->
                                                <form action="#"
                                                      th:action="@{'/list/' + ${el.lists.id} + '/delete/' + ${el.id}}"
                                                      th:method="DELETE"
                                                      style="float: right">
                                                    <button type="submit" class="btn btn-outline-danger border-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-trash"
                                                             viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                    </button>
                                                </form>


                                                <span th:utext="${el.name_product}"></span>



                                                <div style="float: right">
                                                    <span th:if="${el.quantity != null}" th:utext="${el.quantity}"
                                                    ></span>&nbsp;

                                                    <span th:if="${el.unit != null}" th:utext="${el.unit}"
                                                    ></span>

                                                    <i th:if="${el.price != null}"
                                                       style="margin-left: 15px; margin-right: 10px;">
                                                        <i th:utext="${el.price}"></i>
                                                        <i th:if="${el.actual_price != null}">
                                                        (
                                                        <i th:utext="${el.actual_price}"></i>
                                                            )
                                                        </i>
                                                    </i>

                                                    <span th:if="${el.currency != null}" th:utext="${el.currency}"
                                                    ></span>
                                                </div>

                                                <p style="margin-top: 10px; margin-bottom: 10px;"
                                                   th:if="${el.description != ''}" class="text-muted">
                                                    <span>Описание: </span>
                                                    <span th:utext="${el.description}"></span>
                                                </p>

                                                <p style="margin-top: 10px; margin-bottom: 10px;" class="text-muted">
                                                    <i>
                                                        <span>Пользователь "</span>
                                                        <span th:utext="${el.user.name}"></span>
                                                        <span>", планирует купить этот товар</span>
                                                    </i>
                                                </p>

                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                </span> <br>

                    <!--       Если в списке есть элементы помеченные галочкой         -->
                    <span th:if="${myListFromFillingServiceCompletedTrue != 0}">
                    <h2>Куплено:</h2>
                        <!--    Список       -->
                    <div class="page-content page-container">
                        <div class="padding">
                            <div class="col-md-12">
                                    <ul class="list-group">
                                        <div th:each="el : ${myListFromFillingServiceCompletedTrue}">

                                            <li class="list-group-item bg-light myclass ">
                                                <!--       Категория-->
                                                <div th:style="@{'float: left; background: ' + ${el.category}}"
                                                     class="square"></div>
                                                <!--       Категория-->

                                                <!--           Пометели галочкой            -->
                                                <form action="#"
                                                      th:action="@{'/list/' + ${el.lists.id} + '/completed/' + ${el.id}}"
                                                      method="post" style="float: left">
                                                    <button class="btn btn-outline-success border-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-check"
                                                             viewBox="0 0 16 16">
                                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                                <!--  Удаление списка  -->
                                                <form action="#"
                                                      th:action="@{'/list/' + ${el.lists.id} + '/delete/' + ${el.id}}"
                                                      th:method="DELETE"
                                                      style="float: right">
                                                    <button type="submit" class="btn btn-outline-danger border-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-trash"
                                                             viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                    </button>
                                                </form>

                                                <s><span th:utext="${el.name_product}"></span></s>

                                                <div style="float: right">
                                                    <span th:if="${el.quantity != null}" th:utext="${el.quantity}"
                                                    ></span>&nbsp;

                                                    <span th:if="${el.unit != null}" th:utext="${el.unit}"
                                                    ></span>

                                                    <i th:if="${el.price != null}"
                                                       style="margin-left: 15px; margin-right: 10px;">
                                                        <i th:utext="${el.price}"></i>
                                                        <i th:if="${el.actual_price != null}">
                                                        (
                                                        <i th:utext="${el.actual_price}"></i>
                                                            )
                                                        </i>
                                                    </i>

                                                    <span th:if="${el.currency != null}" th:utext="${el.currency}"
                                                    ></span>
                                                </div>
                                                <p class="text-muted">
                                                    <i>
                                                        <span>Пользователь "</span>
                                                        <span th:utext="${el.user.name}"></span>
                                                        <span>", купил этот товар</span>
                                                    </i>
                                                </p>

                                            </li>

                                        </div>
                                    </ul>

                                </div>
                            </div>
                        </div>

                </span><br>
                    <div class="row">
                        <div class="col-4">
                            <h4>Сколько требуется:</h4>
                            <h4 th:utext="${ToBuy}"></h4>
                        </div>
                        <div class="col-4">
                            <h4>Потратили:</h4>
                            <h4 th:utext="${Purchased}"></h4>
                        </div>
                        <div class="col-4">
                            <h4>Фактическая стоимость:</h4>
                            <h4 th:utext="${ActualPurchased}"></h4>

                        </div>


                    </div>
                    <br>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Имя пользователя</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Фактическая сумма</th>
                        </tr>
                        </thead>
                        <tbody th:each="el : ${PurchasedBuyer}">
                        <tr>
                            <td th:utext="${el[0]}">...</td>
                            <td th:utext="${el[1]}">...</td>
                            <td th:utext="${el[2]}">...</td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
