<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="parts/navbar :: navbar"></div>


    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h6>Блог</h6><br>
            <h1>Что купить для домашнего карантина: полный список предметов первой необходимости.</h1><br>
            <p><img src="https://hainanlife.ru/ckfinder/userfiles/files/img-20200520085701-244.jpg" class="img-fluid"
                    alt="..."><br></p>
            <p>Макароны и консервы исчезают с прилавков магазинов. Туалетная бумага идет нарасхват. Некоторые люди
                забивают гаражи таким количеством еды, что большая ее часть пропадает. Между тем специалисты рекомендуют
                запастись максимум двухнедельным запасом еды на каждого члена семьи, включая домашних животных. Как не
                сойти с ума во всей этой суматохе? Если вы хотите как следует подготовиться, прочитайте наше руководство
                о том, что купить для домашнего карантина и как справиться с пребыванием в четырех стенах.
            </p>


            <p><h4>Прежде чем покинуть дом</h4></p>
            <p>Смысл запасаться не в том, чтобы подготовить себя к внезапной нехватке товаров, а в том, чтобы ограничить
                свои посещения магазинов. Чем меньше времени вы проводите в толпе, тем меньше вероятность того, что вы
                подвергнетесь воздействию вируса. По этой причине хорошее планирование вашего визита имеет решающее
                значение. Проверьте свои бытовые принадлежности, разблокируйте мобильный телефон и запишите все
                продукты, которые вам не хватает. </p>\
            <p>Мы также рекомендуем вам подумать о тех, кому может понадобиться помощь в покупке продуктов. Поскольку
                больные и пожилые люди особенно подвержены риску заражения вирусом, ваша небольшая услуга значительно
                снижает их риск заражения. </p>


            <p>
            <h2>Что купить на домашний карантин?</h2></p>


            <div class="row">

                <div class="col">
                    <p>
                    <h4># 1 Еда</h4></p>
                    <p>Во-первых, следует покупать продукты с длительным сроком хранения. Макаронные изделия, рис и
                        крупы будут пригодны к употреблению после нескольких дней карантина, их легко хранить и они
                        содержат практически все необходимые минералы (Подробнее здесь ). Но один только рис — это еще
                        не ужин. Прогуляйтесь по отделу с консервами и купите консервированный суп, овощи и бобы. Они
                        могут быть такими же полезными, как и свежие продукты.</p>
                </div>

                <div class="col">
                    <img src="https://images.pexels.com/photos/6605350/pexels-photo-6605350.jpeg?auto=compress&cs=tinysrgb&w=1600"
                         class="img-fluid" alt="dfhdfgjhdfghfdgjhfdhgdfhdfhfd">
                </div>
            </div>

            <p>ПОДОЖДИТЕ, консервы полезны?</p>

            <p>Абсолютно! Как вы можете прочитать
                <a href="https://www.sport-express.ru/zozh/reviews/rybnye-konservy-polza-i-vred-kak-vybrat-i-hranit-recepty-1909787/#:~:text=%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%81%D0%B5%D1%80%D0%B2%D0%BE%D0%B2,-%D0%A1%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E%20%D0%B4%D0%B0%D0%BD%D0%BD%D0%BE%D0%B9&text=%D0%9E%D0%BD%D0%B8%20%D0%BE%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D1%8E%D1%82%20%D0%BF%D0%BE%D0%BB%D0%BE%D0%B6%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%B2%D0%BB%D0%B8%D1%8F%D0%BD%D0%B8%D0%B5%20%D0%BD%D0%B0,%D0%B8%20%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0%D0%B5%D1%82%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B5%20%D0%BE%D0%B1%D0%BC%D0%B5%D0%BD%D0%B0%20%D0%B2%D0%B5%D1%89%D0%B5%D1%81%D1%82%D0%B2.">здесь</a>,
                консервированные альтернативы, как правило, по питательности
                не хуже, чем их свежие аналоги! Более того, консервы обычно уже частично приготовлены, что означает
                меньше хлопот на кухне. Однако это не означает, что вы не должны полностью отказываться от свежих
                продуктов! Хотя он не может долго лежать на полке, ничто не заменит запах свежей зелени и овощей.</p>

            <div class="row">

                <div class="col">
                    <p>
                    <h4># 2 Чистящие средства</h4></p>
                    <p>Ничто не уничтожает вирус так эффективно, как старый добрый кусок мыла. Это самый важный элемент
                        очистки в вашем списке. Даже дезинфицирующие средства для рук менее эффективны, потому что
                        дезинфицирующие средства на спиртовой основе не всегда проникают под ногти и между
                        пальцами. </p>
                    <p>Но вам также понадобится что-то, чтобы вытирать мокрые руки и поддерживать гигиену в целом.
                        Добавьте бумажные полотенца, салфетки и туалетную бумагу в свой список предметов первой
                        необходимости. </p>
                </div>

                <div class="col">
                    <img src="https://images.pexels.com/photos/11182884/pexels-photo-11182884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                         class="img-fluid" alt="dfhdfgjhdfghfdgjhfdhgdfhdfhfd">
                </div>
            </div><br>
            <p>Более тяжелые предметы, такие как стиральный порошок и капсулы для посудомоечной машины, попадаются вам
                на пути к кассе. </p><br>

            <div class="row">

                <div class="col">
                    <p>
                    <h4># 3 Лекарства</h4></p>
                    <p>Если вы принимаете какие-либо лекарства, постарайтесь приобрести их хотя бы на месяц. Аптеки
                        полны покупателей, и вам, возможно, придется ждать поставки лекарств. Чтобы избежать
                        дополнительных неприятностей, поинтересуйтесь, предлагает ли аптека отправить лекарство по
                        почте.</p>
                </div>

                <div class="col">
                    <img src="https://images.pexels.com/photos/208512/pexels-photo-208512.jpeg?auto=compress&cs=tinysrgb&w=1600"
                         class="img-fluid" alt="dfhdfgjhdfghfdgjhfdhgdfhdfhfd">
                </div>
            </div>
            <p>Вы также можете иметь несчастье страдать от менструальных болей, зубной боли или диареи во время
                карантина. Проверьте свою аптечку и убедитесь, что вы готовы к такому сценарию. </p>

            <div class="row">

                <div class="col">
                    <p>
                    <h4># 4 Настольные и видеоигры</h4></p>
                    <p>Кинотеатры, пабы и спортивные залы некоторое время будут закрыты. Но карантин – это не приговор
                        от скуки!</p>
                </div>

                <div class="col">
                    <img src="https://images.pexels.com/photos/278918/pexels-photo-278918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                         class="img-fluid" alt="dfhdfgjhdfghfdgjhfdhgdfhdfhfd">
                </div>
            </div><br>
            <p>На самом деле, это отличная возможность откопать старые пазлы, скрэббл, монополию и другие настольные
                игры и собрать семью вместе. Если вы играете в одиночку, используйте карантин, чтобы поиграть в
                видеоигры! Многие компании предлагают скидки на цифровые копии игр, чтобы побудить людей оставаться
                дома.</p>

        </div>
        <div class="col">

        </div>
    </div>

</div>
</body>
</html>