<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BUYSELL</h1>
<hr>
<h4>Подробная информация о товаре</h4>
<!--<b>Название списка: </b><p th:utext="${myList.name}" >..</p><br>-->
<hr>
<!--<form action="/main/delete/${myList.id}" method="post">-->
<!--    <input type="submit" value="Удалить товар"/>-->
<!--</form>-->
</body>
</html>